/**
 * @file
 * Deploy Steps styles.
 */

[data-deploy_steps-time] {
  color: #f00;
  font-size: 0.875rem;
  padding: 0.5rem;
  text-align: center;
}

[data-deploy_steps-time].deploy_steps-processed {
  opacity: 1;
  transition: opacity 0.3s ease;
}
